.hero_wrapper {
  padding-top: 70px;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://optim.tildacdn.net/tild3239-6364-4832-b832-336564376132/-/cover/900x1200/center/center/-/format/webp/IMG_4623.jpg);
  height: 447.3px;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

/* @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .hero_wrapper {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://optim.tildacdn.net/tild3239-6364-4832-b832-336564376132/-/cover/900x1200/center/center/-/format/webp/IMG_4623.jpg);
    }
} */

.hero_wrapper p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
