.header_container {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.home_container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.header_container img,
.header_container svg {
  max-width: 100%; /* Assicura che il logo o SVG si adatti */
  height: auto;
}
